<div class="navbar">
    <div class="section-1">
        <h3>Speed Task</h3>
    </div>
    <div class="section-2">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/retreive">Tasks</a>
        <i class="bi bi-arrow-bar-right"></i>
        <% if (authenticated) { %>
            <a id="user-state" href="/sign-out">Logout</a>
        <%} %>
        <% if (!authenticated) { %>
            <a id="user-state" href="/sign-in">Login</a>
        <% } %>
    </div>

</div>