<form actio="/retreive" method="post" class="search-bar">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
    <button class="icon" type="submit">
        <i class="bi bi-search"></i>
    </button>
    <div id="status-btn" class="status-btn">
        <div class="btn-1">
            <button>pending</button>
        </div>
        <div class="btn-1">
            <button>completed</button>
        </div>
    </div>
  </form>