<div class="container-login">
    <div class="login">
        <div class="form-login form">
            <form action="/sign-in" method="post">
                <div class="container-1">
                    <label style="color:black">User Name</label>
                    <input class="input-login" type="text" name="username" placeholder="Enter user name" required>
                </div>
                <div class="container-1">
                    <label style="color:black">Email</label>
                    <input class="input-login" type="text" name="email" placeholder="Enter email" required>
                </div>
                <div class="container-1">
                    <label style="color:black">Password</label>
                <input class="input-login" type="text" name="password" placeholder="Enter password" required>
                </div>
                <div class="btn-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <div  class=" form register">
            <form action="/sign-up" method="post">
                <div class="container-1">
                    <label style="color:white">User Name</label>
                    <input type="text" name="username" placeholder="Enter user name" required>
                </div>
                <div class="container-1">
                    <label style="color:white">Email</label>
                    <input type="text" name="email" placeholder="Enter email" required>
                </div>
                <div class="container-1">
                    <label style="color:white">Password</label>
                    <input type="text" name="password" placeholder="Enter password" required>
                </div>
                <div class="btn-container">
                    <button type="submit">Sign-UP</button>
                </div>
            </form>
         
        </div>

    </div>
    <div id="authWelcome" class="auth-welcome">
        <button  id="swipe">Sign Up</button>
        <button  class="swipe-1" id="swipe-1">Login</button>
    </div>

</div>


